body {
    background-color: #f0f0f0;
    font-family: Arial;
}

.carta {
    background-color: white;
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
}