body {
    font-family: Arial;
}

/* Título principal */
.titulo-principal {
    font-size: 26px;
    text-align: center;
    color: white;
}

/* Títulos secundários */
.titulo-secundario {
    font-size: 18px;
    text-align: left;
    color: darkorange;
}

/* Parágrafos */
.paragrafo {
    font-size: 14px;
    text-align: justify;
    color: black;
    text-indent: 50px;
}

/* Caixa */
.caixa {
    width: 70px;
    height: 70px;
    position: relative;
    top: 0px;
    left: 0px;
    border: 0px;
    margin: 1px;
    background-color: rgb(102, 58, 87);
}